int--int--jint
bool--boolean--jboolean
char--char--jchar
long--long--jlong
std::string--String--jstring
short--short--jshort
QString--String--jstring
unsigned int--int--jint
unsigned char--char--jchar
unsigned short--short--jshort
unsigned long--long--jlong
long long--long--jlong
unsigned long long--long--jlong
unsigned--int--jint